## Librerias y base de interacciones

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import pytz
from sqlalchemy import create_engine
%reload_ext sql
%sql postgresql://studentrs:szcWuiyxVnKO38XfzHkP@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1
#engine = create_engine("postgresql://studentrs:szcWuiyxVnKO38XfzHkP@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1")

In [2]:
user_interact = pd.read_csv('data/lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv',
                  sep = '\t',
                 names = ['UserId', 'TimeStamp', 'ArtId', 'ArtName', 'TraId', 'TraName'])

In [3]:
#Lista para dejar 10% de items mas calificados
aux_artistas = user_interact.groupby('UserId').agg({'ArtId':'nunique'}).reset_index().rename(columns = {'ArtId':'Nart'})
ratings_artistas = user_interact.groupby(['UserId', 'ArtId']).size().reset_index(name = 'frecuencia')
ratings_artistas['log_frecuencia'] = np.log10(ratings_artistas['frecuencia'])
ratings_artistas_merged = ratings_artistas.merge(aux_artistas, on = 'UserId', how = 'left')
ratings_artistas_merged['normalizada'] = ratings_artistas_merged['frecuencia']/ratings_artistas_merged['Nart']
ratings_artistas_merged = ratings_artistas_merged.drop('Nart', axis = 1)
temp_1 = ratings_artistas_merged.groupby('ArtId').size().reset_index(name = 'Frecuencia').sort_values('Frecuencia', ascending = False)
items_disponibles = list(temp_1['ArtId'][temp_1['Frecuencia'] > np.percentile(temp_1['Frecuencia'] , 90)].unique())

## Tablas artistas, transacciones y usuarios

In [13]:
#Creo tabla artista
art = user_interact[user_interact.ArtId.isin(items_disponibles)][['ArtId','ArtName']].drop_duplicates(['ArtId'])
art = art.reset_index(drop=True)
art = art.rename(columns={'ArtId':'artid',
                          'ArtName':'name_art'})
#Paso a csv
art.to_csv('artistas.csv', index = False)
art.head()

                                  artid         name_art
0  f1b1cf71-bd35-4e99-8624-24a6e15f133a        Deep Dish
1  a7f7df4a-77d8-4f12-8acd-5c60c93f4de8             坂本龍一
2  ba2f4f3b-0293-4bc8-bb94-2f73b5207343       Underworld
3  a16e47f5-aa54-47fe-87e4-bb8af91a9fdd  Ennio Morricone
4  463a94f1-2713-40b1-9c88-dcc9c0170cae          Minus 8

In [14]:
#Creo tabla transacciones
txt = user_interact[user_interact.ArtId.isin(items_disponibles)][['UserId','ArtId','TimeStamp']].rename(columns = {'TimeStamp':'created'})
txt = txt.assign(user_id = txt.UserId.apply(lambda x : int(x[5:])))
txt = txt.assign(id = range(1,len(txt) + 1))
txt_f = txt[['id','created','user_id','ArtId']]
txt_f.loc[:, 'created'] = pd.to_datetime(txt_f.created)

#Paso a csv
txt_f.to_csv('transacciones.csv', index = False)
txt_f.head()

C:\Users\Asus\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

   id                   created  user_id                                 ArtId
0   1 2009-05-04 23:08:57+00:00        1  f1b1cf71-bd35-4e99-8624-24a6e15f133a
1   2 2009-05-04 13:54:10+00:00        1  a7f7df4a-77d8-4f12-8acd-5c60c93f4de8
2   3 2009-05-04 13:52:04+00:00        1  a7f7df4a-77d8-4f12-8acd-5c60c93f4de8
3   4 2009-05-04 13:42:52+00:00        1  a7f7df4a-77d8-4f12-8acd-5c60c93f4de8
4   5 2009-05-04 13:42:11+00:00        1  a7f7df4a-77d8-4f12-8acd-5c60c93f4de8

In [15]:
#Creo tabla usuarios
user = pd.DataFrame()
user = user.assign(username = txt.UserId.unique())
user = user.assign(id = user.username.apply(lambda x : int(x[5:])))
user = user.assign(last_login =datetime.now() )
user = user.assign(email = user.username.apply(lambda x: x+ '@gmail.com'))
user = user.assign(is_superuser = bool(0))
user = user.assign(is_staff = bool(0))
user = user.assign(is_active = bool(1))
user = user.assign(password = 'andes123')
user = user.assign(last_name = 'test')
user = user.assign(first_name = 'test')
login = txt.groupby('UserId').agg({'created':'min'}).reset_index().rename(columns={'created':'date_joined'})
user = user.merge(login, left_on='username', right_on='UserId',how='left',right_index = False)
user.date_joined = user.date_joined.apply(lambda x: pd.to_datetime(x))
user = user[['id','last_login','is_superuser','is_staff','is_active','date_joined','password','last_name','email','username','first_name']]

#Paso a csv
user.to_csv('usuarios.csv', index = False)
user.head()

,id,last_login,is_superuser,is_staff,is_active,date_joined,password,last_name,email,username,first_name
0,1,2021-03-17 00:36:06.858679,False,False,True,2006-08-13 14:17:40+00:00,andes123,test,user_000001@gmail.com,user_000001,test
1,2,2021-03-17 00:36:06.858679,False,False,True,2006-02-24 18:05:42+00:00,andes123,test,user_000002@gmail.com,user_000002,test
2,3,2021-03-17 00:36:06.858679,False,False,True,2005-10-30 22:23:21+00:00,andes123,test,user_000003@gmail.com,user_000003,test
3,4,2021-03-17 00:36:06.858679,False,False,True,2007-04-19 19:15:15+00:00,andes123,test,user_000004@gmail.com,user_000004,test
4,5,2021-03-17 00:36:06.858679,False,False,True,2006-08-12 16:45:04+00:00,andes123,test,user_000005@gmail.com,user_000005,test

## SQL

In [14]:
#%%time
#art.to_sql('items_artist', con = engine, if_exists = 'append', index = False)
#user.to_sql('users_user',con=engine, if_exists = 'append',index=False)

In [5]:
%%time
%sql \copy items_artist FROM 'artistas.csv' with (format CSV, header true, delimiter ',');

 * postgresql://studentrs:***@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1
0 rows affected.
Wall time: 1.09 s

[]

In [6]:
%%time
%sql \copy users_user (id, last_login, is_superuser, is_staff, is_active, date_joined, password, last_name, email, username, first_name) FROM 'usuarios.csv' with(format CSV, header, delimiter ',', quote '\"', escape '''');

 * postgresql://studentrs:***@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1
0 rows affected.
Wall time: 385 ms

[]

In [7]:
%%time
%sql \copy items_requestedplay (id, created, user_id, artist_id) FROM 'transacciones.csv' with(format CSV, header, delimiter ',', quote '\"', escape '''');

 * postgresql://studentrs:***@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1
0 rows affected.
Wall time: 14min 9s

[]