In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import pytz
from sqlalchemy import create_engine
%load_ext sql
%sql postgresql://studentrs:szcWuiyxVnKO38XfzHkP@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1
engine = create_engine("postgresql://studentrs:szcWuiyxVnKO38XfzHkP@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1")

In [4]:
user_interact = pd.read_csv('file:///home/dot/Documents/lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv',
                  sep='\t',
                 names = ['UserId','TimeStamp','ArtId','ArtName','TraId','TraName'])

In [6]:
a = user_interact.groupby('ArtId').size().reset_index(name = 'Frecuencia').sort_values('Frecuencia', ascending = False)
items_disponibles = list(a['ArtId'][a['Frecuencia'] > np.percentile(a['Frecuencia'] , 90)].unique())

In [ ]:
art = user_interact[user_interact.ArtId.isin(items_disponibles)][['ArtId','ArtName']].drop_duplicates(['ArtId'])
art = art.reset_index(drop=True)
art = art.rename(columns={'ArtId':'artid',
                          'ArtName':'name_art'})
art.to_sql('items_artist',con=engine, if_exists = 'append',index=False)

In [ ]:
### txt table
txt = user_interact[user_interact.ArtId.isin(items_disponibles)][['UserId','ArtId','TimeStamp']].rename(columns={'TimeStamp':'created'})
txt = txt.assign(user_id = txt.UserId.apply(lambda x : int(x[5:])))
txt = txt.assign(id = range(1,len(txt) +1))
txt_f = txt[['id','created','user_id','ArtId']]
txt_f.created = txt_f.created.apply(lambda x: pd.to_datetime(x))

In [ ]:
### user
user = pd.DataFrame()
user = user.assign(username = txt.UserId.unique())
user = user.assign(id = user.username.apply(lambda x : int(x[5:])))
user = user.assign(last_login =datetime.now() )
user = user.assign(email = user.username.apply(lambda x: x+ '@gmail.com'))
user = user.assign(is_superuser = bool(0))
user = user.assign(is_staff = bool(0))
user = user.assign(is_active = bool(1))
user = user.assign(password = 'andes123')
user = user.assign(last_name = 'test')
user = user.assign(first_name = 'test')
login = txt.groupby('UserId').agg({'created':'min'}).reset_index().rename(columns={'created':'date_joined'})
user = user.merge(login, left_on='username', right_on='UserId',how='left',right_index=False)
user.date_joined = user.date_joined.apply(lambda x: pd.to_datetime(x))
user[['id','last_login','is_superuser','is_staff','is_active','date_joined','password','last_name','email','username','first_name']]
user.to_sql('users_user',con=engine, if_exists = 'append',index=False)

In [ ]:
txt_f.to_sql('items_requestedplay',con=engine, if_exists = 'append',index=False)

In [ ]:
%%sql
select column_name, data_type from information_schema.columns
where table_name = 'users_user';

In [ ]:
%%sql
\copy users_user FROM 'user.csv' with (format CSV, header true, delimiter ',');

In [ ]:
%%sql
#\copy items_artist FROM 'artist.csv' with (format CSV, header true, delimiter ',');
\copy users_user FROM user with (format CSV, header true, delimiter ',');
#\copy items_requestedplay FROM 'txt.csv' with (format CSV, header true, delimiter ',');

In [ ]:
%sql select * from items_artist limit 10;

In [3]:
%%sql
select column_name, data_type from information_schema.columns
where table_name = 'items_requestedplay';

 * postgresql://studentrs:***@workshop1rs.cevhjouwoh1r.us-east-2.rds.amazonaws.com/workshop_1
4 rows affected.

[('id', 'integer'),
 ('created', 'timestamp with time zone'),
 ('user_id', 'integer'),
 ('artist_id', 'character varying')]